doctype html
html(lang="nl")
    head
        title SDO Live
        meta(charset="UTF-8")
        meta(name="author",   content="Volkssterrenwacht MIRA")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

        // Prevent this page from showing up in Google search results
        meta(name="robots",    content="NONE")
        meta(name="googlebot", content="nosnippet,nofollow,noindex")

        script(type="text/javascript", src="vendor/js/jquery.min.js")
        script(type="text/javascript", src="vendor/js/raphael.js")
        script(type="text/javascript", src="/build.js")
      
        link(rel="stylesheet", type="text/css", href="css/main.css")


    body
        #holder
        #root